<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：命名空间，其值为某一个dao层类的具体路径
 -->
<mapper namespace="com.simpleaccount.mapper.AccountclassifyMapper">
    <select id="queryAllAccClassifyInfoByfId" resultType="com.simpleaccount.entry.Accountclassify">
        SELECT * FROM accountclassify as a
        <where>
            <if test="((userId == null or userId == '')  and (fAccountclassifyId == null or fAccountclassifyId == '')) or ((userId != null and userId != '')  and (fAccountclassifyId == null or fAccountclassifyId == ''))">
                AND a.faccountClassifyId is null
            </if>
            <if test="(userId == null or userId == '')  and (fAccountclassifyId != null and fAccountclassifyId != '')">
                AND a.faccountClassifyId = #{fAccountclassifyId} AND a.userId = 0
            </if>
            <if test="(userId != null and userId != '')  and (fAccountclassifyId != null and fAccountclassifyId != '')">
                AND (a.userId = 0 or a.userId = #{userId}) AND a.faccountClassifyId = #{fAccountclassifyId}
            </if>
        </where>
    </select>

    <select id="queryAllBudgetVo" resultType="com.simpleaccount.entry.BudgetVo">
        SELECT * FROM accountclassify as a
        <where>
            <if test="((userId == null or userId == '')  and (fAccountclassifyId == null or fAccountclassifyId == '')) or ((userId != null and userId != '')  and (fAccountclassifyId == null or fAccountclassifyId == ''))">
                AND a.faccountClassifyId is null
            </if>
            <if test="(userId == null or userId == '')  and (fAccountclassifyId != null and fAccountclassifyId != '')">
                AND a.faccountClassifyId = #{fAccountclassifyId} AND a.userId = 0
            </if>
            <if test="(userId != null and userId != '')  and (fAccountclassifyId != null and fAccountclassifyId != '')">
                AND (a.userId = 0 or a.userId = #{userId}) AND a.faccountClassifyId = #{fAccountclassifyId}
            </if>
        </where>
    </select>

    <select id="queryAllBigAccountClassify" resultType="com.simpleaccount.entry.Accountclassify">
       select a.accountClassifyId,a.accountClassifyName from accountclassify as a WHERE a.faccountClassifyId is NULL  and (a.userId = #{userId} or a.userId=0)
    </select>

    <select id="queryAllTwoAccountClassify" resultType="com.simpleaccount.entry.Budget">
      select * from accountclassify as a
--       LEFT JOIN budget as b ON a.accountClassifyId = b.accountClassifyId
      WHERE a.faccountClassifyId = #{fAccountclassifyId}  and (a.userId = #{userId} or a.userId=0)
    </select>
</mapper>