<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simpleaccount.mapper.BillClassfyMapper">

    <resultMap id="billClassfyMap" type="BillClassfyTree">
        <id property="classify" column="classify"></id>
        <result property="classfyName" column="classfyName"></result>
        <result property="fClassfyId" column="fClassfyId"></result>
        <result property="classifyImage" column="classifyImage"></result>
        <!--<collection property="ChildrenBillClassfy" ofType="BillClassfyTree" javaType="java.util.List" column="{classfyId=classfyId,userId=userId}"-->
        <!--select="queryBigBillClassfy"/>-->
    </resultMap>
    <select id="queryBigBillClassfy"  resultMap="billClassfyMap">
        SELECT b.classify,b.classfyName,b.classifyImage,b.fClassfyId,b.createtime,b.updatetime,b.icon
        FROM billclassify as b
        WHERE b.fClassfyId IS NULL
        AND b.classifyType = #{classifyType}
  </select>
    <!--查找所有类别(递归)-->
    <select id="queryAllBillClassfy" resultType="com.simpleaccount.entry.Billclassify" parameterType="java.lang.Integer">
        SELECT b.classify,b.classfyName,b.classifyImage,b.fClassfyId,b.createtime,b.updatetime,b.icon
        FROM billclassify as b
        WHERE b.fClassfyId = #{classfyId}
        AND (b.userId = 0 or b.userId= #{userId})
        AND b.classifyType = #{classifyType}
    </select>
    <select id="queryAllTwoClassify" resultType="com.simpleaccount.entry.Billclassify" parameterType="java.lang.Integer">
        SELECT b.classify,b.classfyName,b.classifyImage,b.fClassfyId,b.createtime,b.updatetime,b.icon
        FROM billclassify as b
        WHERE b.fClassfyId IS NOT NULL
        AND (b.userId = 0 or b.userId= #{userId})
        AND b.classifyType = #{classifyType}
    </select>
    <select id="queryAdminClassify" resultType="com.simpleaccount.entry.Billclassify" parameterType="java.lang.Integer">
        SELECT b.classify,b.classfyName,b.classifyImage,b.fClassfyId,b.createtime,b.updatetime,b.icon
        FROM billclassify as b
        WHERE b.fClassfyId = #{classfyId}
        AND b.classifyType = #{classifyType}
        and b.userId = 0
    </select>
    <update id="updateBillClassify" parameterType="com.simpleaccount.entry.Billclassify">
        update billclassify as b
        <trim prefix="set" suffixOverrides=",">
            <if test="userId != null">
                userId=#{userId},
            </if>
            <if test="classfyName != null">
                classfyName=#{classfyName},
            </if>
            <if test="fClassfyId != null">
                fClassfyId=#{fClassfyId},
            </if>
            <if test="updatetime != null">
                updatetime=#{updatetime},
            </if>
            <if test="icon != null">
                icon=#{icon},
            </if>
        </trim>
        where b.classify = #{classify}
    </update>
    <insert id="AddClassify" parameterType="com.simpleaccount.entry.Billclassify">
        INSERT into billclassify
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                userId,
            </if>
            <if test="classfyName != null">
                classfyName,
            </if>
            <if test="fClassfyId != null">
                fClassfyId,
            </if>
            <if test="classifyType != null">
                classifyType,
            </if>
            <if test="icon != null">
                icon,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId},
            </if>
            <if test="classfyName != null">
                #{classfyName},
            </if>
            <if test="fClassfyId != null">
                #{fClassfyId},
            </if>
            <if test="classifyType != null">
                #{classifyType},
            </if>
            <if test="icon != null">
                #{icon},
            </if>
        </trim>
    </insert>
</mapper>